body {
    background-color: #222222 !important;
    padding-top: 100px; 
}
.content-body {
    flex: 1 0 auto;
    width: 100%;
}

.feature {
    color: #ffffff;
}

.feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
}

.feature-info {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25em;
    padding-bottom: 8em;
    text-align: right;
}

.feature-title {
    /*font-size: 3.5em;*/
    font-size: calc(3.5vw + 3.5vh + 1.75vmin);
    font-weight: 700;
}

.feature-desc {
    /*font-size: 1.7em;*/
    font-size: calc(1.7vw + 1.7vh + 0.85vmin);
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    color: #A8A8A8;
}
  