<html>

<head>
  <link rel="stylesheet" href="./css/team.css" type="text/css">
  <link rel="stylesheet" href="./css/misc.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body ng-app="myApp">
  <div ng-include="'items/nav.html'"></div>
  <div class="content-body" ng-controller="myCtrl">
    <div class="team">
      <h3 class="team-title">Developer</h3>
      <div class="team-box">
        <div class="social-user" ng-repeat="i in developers">
          <img src="{{i.avatar}}" alt="{{i.username}}'s avatar" class="social-user_avatar">
          <div class="social-user_username">{{i.username}}</div>
        </div>
      </div>
    </div>
    <div class="team">
      <h3 class="team-title">Administrator</h3>
      <div class="team-box">
        <div class="social-user" ng-repeat="i in administrators">
          <img src="{{i.avatar}}" alt="{{i.username}}'s avatar" class="social-user_avatar">
          <div class="social-user_username">{{i.username}}</div>
        </div>
      </div>
    </div>
    <div class="team">
      <h3 class="team-title">Moderator</h3>
      <div class="team-box">
        <div class="social-user" ng-repeat="i in moderators">
          <img src="{{i.avatar}}" alt="{{i.username}}'s avatar" class="social-user_avatar">
          <div class="social-user_username">{{i.username}}</div>
        </div>
      </div>
    </div>
    <div class="team">
      <h3 class="team-title">Support</h3>
      <div class="team-box">
        <div class="social-user" ng-repeat="i in supports">
          <img src="{{i.avatar}}" alt="{{i.username}}'s avatar" class="social-user_avatar">
          <div class="social-user_username">{{i.username}}</div>
        </div>
      </div>
    </div>
    <div class="team">
      <h3 class="team-title">Translator</h3>
      <div class="team-box">
        <div class="social-user" ng-repeat="i in translators">
          <img src="{{i.avatar}}" alt="{{i.username}}'s avatar" class="social-user_avatar">
          <div class="social-user_username">{{i.username}}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'items/footer.html'"></div>
  <a href="javascript:" id="return-to-top">
    <i class="fa fa-arrow-circle-up" style="font-size:60px;color:#00CCFF"></i>
  </a>
  <script type="text/javascript">
    $(window).scroll(function () {
      if ($(this).scrollTop() >= 50) {
        $('#return-to-top').fadeIn(200);
      } else {
        $('#return-to-top').fadeOut(200);
      }
    });
    $('#return-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 500);
    });
    var roles = ["developer", "administrator", "moderator", "translator"];
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
      $http.get("https://modern-router.glitch.me/api/team/developer")
        .then(function (response) {
          $scope.developers = response.data;
        })
      $http.get("https://modern-router.glitch.me/api/team/administrator")
        .then(function (response) {
          $scope.administrators = response.data;
        })
      $http.get("https://modern-router.glitch.me/api/team/moderator")
        .then(function (response) {
          $scope.moderators = response.data;
        })
      $http.get("https://modern-router.glitch.me/api/team/support")
        .then(function (response) {
          $scope.supports = response.data;
        })
      $http.get("https://modern-router.glitch.me/api/team/translator")
        .then(function (response) {
          $scope.translators = response.data;
        })
    });
  </script>
</body>

</html>